
<div class="ss">
  <ul>
  
        <li>
            <a  [routerLink] = "['home']" (click) = "home()"> Home</a>
          </li>
          <li>
      
          <a  [routerLink] = "['bookings']" > Bookings</a>
      </li>
        
      </ul>
  </div>



<div class="card-columns">
    <div class="card"  *ngFor="let b of bookingSection">
      <div class="card-body text-center">
        <p class="card-text">{{b.name}}</p>
        <p class="card-text">{{b.date}}</p>
        <button (click)="deleteBooking(b.bid)">Cancel Booking</button>
      </div>
    </div>
</div>
